*{
    cursor: url('Imagenes/cursor.png'), auto;
}

body{
    padding: 0;
    margin: 0;
    zoom: 100%;
    background-color: #625BB2;
    zoom: 75%;
}


header{
    background-color: #625BB2;
    width: 100%;
    height: 7%;
    position: fixed;
    z-index: 2;
}

a{
    text-decoration: none;
    color: #fff;
}

.icono{
    width: 50px;
    border-radius: 100%;
    margin-left: 20px;
    margin-top: 10px;
    cursor: url('Imagenes/cursor-dedo.png'), auto;
}

.nimbo{
    position: absolute;
    color: #fff;
    font-family: "Fredoka", sans-serif;
    font-size: 20px;
    top: 23px;
    cursor: url('Imagenes/cursor-dedo.png'), auto;
}

.descargar{
    position: absolute;
    left: 25%;
    color: #fff;
    font-family: "Fredoka", sans-serif;
    font-size: 20px;
    top: 20px;
    cursor: url('Imagenes/cursor-dedo.png'), auto;
}


.comentarios{
    position: absolute;
    left: 35%;
    color: #fff;
    font-family: "Fredoka", sans-serif;
    font-size: 20px;
    top: 20px;
    cursor: url('Imagenes/cursor-dedo.png'), auto;
}

.boton{
    position: absolute;
    right: 40px;
    width: 150px;
    height: 40px;
    background-color: #FFC500;
    border: solid 5px  #FFC500;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-family: "Fredoka", sans-serif;
    cursor: url('Imagenes/cursor-dedo.png'), auto;
    top: 15px;
}

.icon{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%,-10%);
    filter: drop-shadow(10px 10px 15px rgba(54,54,54,0.79));
    width: 30%;
}

.contenedor{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-10%);
    background-color: #625BB2;
    width: 50%;
    height: 35%;
    border-radius: 50px;
    -webkit-box-shadow: inset 1px 1px 5px 9px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 1px 1px 5px 9px rgba(0,0,0,0.2);
    box-shadow: inset 1px 1px 5px 9px rgba(0,0,0,0.2);
}

.bDescargar{
    position: absolute;
    width: 300px;
    height: 80px;
    background-color: #FFC500;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 25px;
    font-family: "Fredoka", sans-serif;
    cursor: url('Imagenes/cursor-dedo.png'), auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-box-shadow: 30px 30px 30px -10px rgba(54,54,54,0.79);
    -moz-box-shadow: 30px 30px 30px -10px rgba(54,54,54,0.79);
    box-shadow: 30px 30px 30px -10px rgba(54,54,54,0.79);
}


@media screen and (min-width: 800px) and (max-width: 1334px) and (orientation: landscape){
    .icon{
        width: 500px;
    }
}